<meta charset="UTF-8">
<title>{{= title }}</title>
<link rel="dns-prefetch" href="//stylever.github.io">
<meta name="MobileOptimized" content="320"/>
<meta http-equiv="cleartype" content="on">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no, email=no" />
<meta name="msapplication-tap-highlight" content="no"/>

{% for item in distCss %}
<link href="{{= staticBaseUrl }}css/{{= item | versionFilter }}.css" rel="stylesheet">
{% endfor %}
<script>
var _global = {
    staticBaseUrl: '{{= staticBaseUrl }}'
}

{{= customJs | safe }}
</script>
